<h1>Hello!</h1>
<br>
<p><b>1. Giới thiệu:</b></p>
<ul>
  Website PlayWithMusic là trang âm nhạc phổ biến và vai trò của giúp con người giải trí, thư giãn sau những mệt nhọc của cuộc sống.
  Website cung cấp cho người dùng với tất cả các loại nhạc với kho tàng âm nhạc phong phú đa dạng trên toàn thế giới.
  Người yêu cầu nghe nhạc có thể thỏa sức tìm kiếm những bài hát mà mình yêu thích và có thể quản lý playlist nhạc của mình khi đã là thành viên của trang web.
</ul>
<p><b>2. Về Website PlayWithMusic:</b></p>
<ul>
  - Hướng đến việc đáp ứng nhu cầu giải trí và chia sẻ về lĩnh vực âm nhạc.
</ul>
<ul>
  - Sử dụng các chức năng tải và nghe nhạc trực tuyến. Có thể cập nhật bài hát, ca sĩ, album, playlist.
</ul>
<ul>
  - Xây dựng nên Website thân thiện, đáp ứng phù hợp về mặt âm nhạc cho tất cả mọi người.
</ul>
