<h1 id="tableLabel">Quản trị viên</h1>
<ul>Sau đây là danh sách quản trị viên</ul>

<button class="btn btn-primary" (click) = "openModal(true,null)">Add New QTV</button>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="quantrivien.totalPage>0">
    <thead>
      <tr>
        <th>Mã QTV</th>
        <th>Tên QTV</th>
        <th>Ngày sinh</th>
        <th>Ghi Chú</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let QuanTriVien of quantrivien.data; index as i">
        <td>{{ QuanTriVien.maQuanTri }}</td>
        <td>{{ QuanTriVien.tenQtv }}</td>
        <td>{{ QuanTriVien.ngaySinh }}</td>
        <td>{{ QuanTriVien.ghiChu }}</td>
        <td>
          <button class="btn btn-info btm-sm" (click) = "openModal(false,QuanTriVien)">Edit</button>
          <button class="btn btn-danger btm-sm" (click) = "deleteQuanTriVien(i)">Delete</button>
        </td>
      </tr>
    </tbody>
    
  </table>
  <ul class="pagination">
      <li class="page-item">
          <a href="javascript:void(0);" (click)="SearchPrevious()">Truoc</a>
      </li>
      <li class="page-item">{{quantrivien.page}}</li>
      <li class="page-item">
          <a href="javascript:void(0);" (click)="SearchNext()">Sau</a>
      </li>  
  </ul>
  <div class="modal fade" id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" *ngIf = "!isEdit" id="exampleModalLabel">Add New QTV</h5>
          <h5 class="modal-title" *ngIf = "isEdit" id="exampleModalLabel">Edit QTV</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row"*ngIf = "!isEdit">
            <div class="col-4">Mã QTV</div>
            <div class="col-8"><input class="form-control"[(ngModel)]="quantriviens.maQuanTri" ></div>
          </div>
          <br/>
          <div class="row">
            <div class="col-4">Tên User</div>
            <div class="col-8"><input class="form-control"[(ngModel)]="quantriviens.tenQtv" ></div>
          </div>
          <br/>
          <div class="row">
            <div class="col-4">Ngày Sinh</div>
            <div class="col-8"><input class="form-control"[(ngModel)]="quantriviens.ngaySinh" ></div>
          </div>
          <br/>
          <div class="row">
            <div class="col-4">Ghi chú</div>
            <div class="col-8"><input class="form-control"[(ngModel)]="quantriviens.ghiChu" ></div>
          </div>
          <br/>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click) = "UpdateQuanTriVien()">Save</button>
          <button type="button" class="btn btn-success" (click)="addQuanTriVien()">Add</button>
        </div>
      </div>
    </div>
  </div>